body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.nav {
    display: flex;
}

ul {
    list-style-type: none;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.title {
    display: flex;
    background-color: #1F2937;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em;
}

h1 {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 700;
}

.title-text p {
    font-size: 18px;
}

.title-text {
    flex: 1
}

.title-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40vh;
    height: auto;
}

button {
    border: none;
    border-radius: 8px;
    background: #0066ff;
    padding: 8px;
    color: #fff;
    font-weight: 700;
}