body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 10vw;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.nav {
    display: flex;
}

ul {
    list-style-type: none;
    gap: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.title {
    display: flex;
    background-color: #1F2937;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 5em 10vw;
}

h1 {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 700;
}

.title-text p {
    font-size: 18px;
}

.title-text {
    flex: 1
}

.title-image {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

img {
    width: 400px;
    height: auto;
}

.title-text button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px;
    color: #fff;
    font-weight: 700;
}

.random-info {
    padding: 2em 10vw 5em;
    flex: 1;
}

.info-header {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.box {
    width: 150px;
}

.icon {
    border: solid #3882F6;
    border-radius: 8px;
    width: 150px;
}

.box p {
    font-size: 18px;
    text-align: center;
}

.quotes {
    background-color: #E5E7EB;
    padding: 5em 10vw;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: 700;
    text-align: right;
}

.signup-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 10vw;
}

.signup {
    border-radius: 8px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #fff;
    padding: 32px 64px;
    gap: 64px;
}

.signup-text h3 {
    font-weight: 700;
    font-size: 22px;
}

.signup-text p {
    font-size: 18px;
}

.signup-button button {
    border: solid #fff;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px;
    color: #fff;
    font-weight: 700;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em;
}